#main-contents {
  margin: 0;
  width: 100%;
}
#body-contents {
  margin: 0;
  padding: 0;
}


@media  (min-width: 1200px) {
  .container {
    max-width: 1170px;
    
  }
}
@media  (min-width: 768px) and (max-width:991px ) {
  .container {
    max-width: 750px;

  }
}
@media  (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 970px;
    
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
