header {
    width: 100%;
    min-height: 8rem;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    border: none;
    border-radius: 0;
    background-color: #ffffff;
}
.header-logo {
    width: 14%;
    float:left;

}
.header-nav {
    width: 57%;
    float: right;

}


.nav-list {
    display: inline-block;
    width: 100%;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    padding: 0
    
}
.nav-list li {
    float: left;
    display: block;
    
}
.nav-link {
    text-decoration: none;
    color: #262626;
    padding: 15px 20px;
    font-family: "Lato", sans-serif;
    position: relative;
    display: block;
}
 .nav-list a:hover {
    color: #00aff0;
}
.nav-list   .active {
    color: #00aff0;
  }
  nav-list a:visited {
      color: #262626;
  }

.current
@media (min-width: 1200px){
   
}