.contact-form  form {
    margin-top:30px;
    margin-bottom: 40px;
    width: 100%;
    overflow: auto;
}
.contact-form .form-left {
    float: left;
    width: 28%;
}
.contact-form .form-right {
    float: right;
    width: 70%;
}
.contact-form input:not([type= submit]), textarea {
    display: block;
    color: #ffffff;
    width: 100%;
    outline: none;
    background-color: transparent;
    line-height:3.4rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 18px;
    resize: none;
    padding: 0 30px;
    margin-bottom: 10px;
    border-color: rgba(255, 255, 255, 0.55);
    border-image: none;
    
 }
 .contact-form input:not([type= submit])::placeholder, textarea::placeholder {
     color: #ffffff;
 }
 .contact-form textarea {
    margin-bottom: 20px;
 }
 .contact-form [type=submit] {
    display: block;
    width: 100%;
    line-height:3.4rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 18px;
    background-color: #ffffff;
    color: #00aff0;
    font-weight: 600;
    text-align: center;
    border: 1px solid #ffffff;
 }
 