*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Open Sans" , sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  display: block;
  background-color: #ffffff;

  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.4rem;
  color: #262626;
  line-height: 1.857143;
}
h1 {
  font-size: 6rem;
}
.group:before, .group:after {
   content: "";
   display: table;
}
.group:after{ 
   clear: both;
}
