.why-us-page {
    padding: 120px 0;
    background-color: #ffffff;
}
.why-us-contents {
    width: 66%;
    margin: 0 auto;
    text-align: left;
}
.why-us-title {
   margin: 0;
   font-size: 3.6rem;
   line-height: 4.9rem;
   font-weight: 500;
   text-align: center;
}
.why-us-text {
    margin-top: 15px;
    margin-bottom: 0;
}
.why-us-toplist {
    text-align: left;
    margin: 0;
    padding: 0 0 0 40px;
}
.why-us-title-2 {
    
    line-height: 1.208333;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-size: 2.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    
}
.why-us-text a {
    text-decoration: none;
    color: #00aff0;
    font-weight: bold;
}
